html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
#tool{
  height: 50px;
  background:#30898C;
}
#can-holder{
  position: relative;
  height: calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: -webkit--calc(100% - 50px);
}
.canvas{
  position: absolute;
  height: 100%;
  width: 100%;
  background:#6cc;
}
#can-back{
  position: absolute;
  float: left;
  z-index:1;
}
#canvas{
  float: left;
  z-index:2;
}
.nav{
  display: inline-block;
  padding: 0;
  margin: 0;
  zoom:1;
}
.nav>li{
  display: inline-block;
  float: left;
  list-style: none;
}
.nav:after{
  display: block;
  height: 0;
  content:'.';
  visibility: hidden;
  clear:both;
}
#drawtool{
  float:left;
  border-right: 1px solid black;
}
.tool a{
  font-size: 20px;
  text-decoration: none;
  color:#FFF;
  padding: 10px 20px;
  line-height: 50px;
}
.tool a:hover{
  color:#ccc;
}
#drawopera{
  float:left;
}
.clearfix{
  zoom:1;
}
.clearfix:after{
  display: block;
  height: 0;
  content:'.';
  visibility: hidden;
  clear:both;
}
.draw-set{
  display: inline-block;
  z-index: 3;
  border:1px solid #D2D3D6;
  padding:3px;
  background-color:#EAEEF5;
}
#line-set-left{
  float:left;
  padding-right: 5px;
  border-right:1px solid #D2D3D6;
}
#line-set-left li{
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border:1px solid #B4B6B9;
  background-color:#DDE0E7;
  border-radius: 4px 4px;
}
#line-set-left li:nth-child(1){
  background-image: url(../imgs/point.png);
  background-size: 3px;
}
#line-set-left li:nth-child(2){
  background-image: url(../imgs/point.png);
  background-size: 5px;
}
#line-set-left li:nth-child(3){
  background-image: url(../imgs/point.png);
  background-size: 8px;
}
.color-picker td{
  cursor: pointer;
  height: 12px;
  width: 12px;
  padding: 0;
  background-color: red;
  border:1px solid #808080;
  margin: 1px;
}
.color-preview{
  width:26px !important;
  background-color:#FFF !important;
}
.color-picker td:hover:not(.color-preview){
  border:1px solid yellow;
}
#line-set-right{
  float: left;
  padding-left: 5px;
}
.font-img{
  float: left;
  width:30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center; 
  background-image: url(../imgs/font.png);
}
.font-size{
  float: left;
}
#line-set{
  display: none;
}
#font-set{
  display: none;
}
.center {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}